<!-- directives tell angular to listen anything we enter and store in this name  -->
<input type="text" [(ngModel)]="name">
<p>{{ name }}</p>
<hr>


<div class="container">
    <app-cockpit
     (serverCreated)="onServerAdded($event)"
     (blueprintCreated)="onBlueprintAdded($event)"
     ></app-cockpit>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onChangeFirst()">Change First Element</button>
            <button class="btn btn-danger" (click)="onDestroyFirst()" >Destroy first element</button>
            <h3>I am in the app component</h3>
            <hr>
            <!-- <app-servers></app-servers> -->
            <div app-servers></div>
            <hr>


            <app-server-element
             *ngFor="let serverElement of serverElements" 
             [srvElement]="serverElement"
             [name]="serverElement.name">
                <p #contentParagraph>
                    <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
                    <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
                  </p>
            </app-server-element>



            <!-- directives deep dive -->
            <button
             class="btn btn-primary"
             (click)="onlyOdd = !onlyOdd">
             Only show odd numbers</button>
            <br><br>
            <ul>
                <div *ngIf="onlyOdd">
                    <li
                        class="list-group"
                        [ngClass]="{odd: odd%2 !== 0}"
                        *ngFor="let odd of oddNumbers"
                    >
                    {{odd}}   
                    </li>
                </div>

                <div *ngIf="!onlyOdd">
                    <li
                        class="list-group"
                        *ngFor="let even of evenNumbers"
                        >
                        {{even}}   
                    </li>
                </div>
                
                
            </ul>



        </div>
    </div>
</div>




